@import "libs/normalize";
@import "components/accaunt";
@import "./components/main";

.wrapper {
  display: flex;

  width: calc(100vw - 100px);
  height: 100vh;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 645px) {
    width: calc(100vw - 30px);
    margin-top: 15px;
  }
}
